<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Experiencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="animated-container">
    <h2 class="fade-in-title">Explorando Mi Experiencia</h2>

    <p class="fade-in-paragraph">
      ¡Dale play al video para conocer mi experiencia trabajando en este
      proyecto! Prepárate para un recorrido interesante y dinámico.
    </p>

    <div class="video-card slide-up">
      <iframe
        src="https://www.youtube.com/embed/AFGbLEhjygc?si=5uKqNeMZ4UJXEiok?rel=0&showinfo=0&autoplay=1"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</ion-content>
