<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sumadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sumadora-container">
    <!-- Título -->
    <h2>Calcula la Suma</h2>

    <!-- Campo para el Primer Número -->
    <ion-item class="input-item">
      <ion-label position="floating">Número 1</ion-label>
      <ion-input type="number" [(ngModel)]="numero1"></ion-input>
    </ion-item>

    <!-- Campo para el Segundo Número -->
    <ion-item class="input-item">
      <ion-label position="floating">Número 2</ion-label>
      <ion-input type="number" [(ngModel)]="numero2"></ion-input>
    </ion-item>

    <!-- Botón para Calcular -->
    <ion-button expand="block" class="sum-button" (click)="calcularSuma()">Sumar</ion-button>

    <!-- Resultado -->
    <ion-card class="result-card" *ngIf="resultado !== null">
      <ion-card-header>
        <ion-card-title>Resultado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ numero1 }} + {{ numero2 }} = {{ resultado }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
